################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleProduct/CopilotIndices/17.14.1204.46620
/.vs/SampleProduct/FileContentIndex
/.vs/Myproducts/CopilotIndices/17.14.1204.46620
/.vs/Myproducts/FileContentIndex
